    body{
       margin: 0;
       padding: 0;
    }
    nav{
        position: absolute;
        top: 0;
        width: 100%;
        background-color: rgb(16, 56, 16);
        
    }
    .menu{
        display: inline-flex ;
        justify-content: space-between;
        flex-wrap: wrap;
        color: rgb(117, 245, 166);
        padding-right: 5px;
        font-size: 1.5rem;
        transition: 2s;
    }
    .menu:hover{
        background-image: linear-gradient(45deg,rgb(222, 94, 219) , rgb(99, 8, 98)) ;
        padding: 10px;
        border-radius: 10pt;
        transition: 2s;
    }
    img{
        width: 500px;
        aspect-ratio: 16/9;
        border-radius: 20pt;
        filter: blur(15px);
        transition: 2s;
    }
    img:hover{
        filter: blur(0px);
        transition: 2s;
    }